.taskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formContainer {
  width: 310px;
  height: 150px;
  margin-top: 50px;
}
.addTaskContainer {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.input,
.textArea {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  /* margin: 5px; */
  height: 31px;
  width: 100%;
  padding: 20px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #cacaca;
}
.textArea {
  padding: 10px;
  height: 50px;
}

.buttonAdd,
.buttonEdit,
.buttonDelete {
  margin-top: 10px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cacaca;
  background-color: #3f51b5;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.buttonAdd {
  height: 60px;
  font-size: 24px;
  background-color: #0a6309;
}
.buttonAdd:hover,
.buttonAdd:focus,
.buttonEdit:hover,
.buttonEdit:focus {
  background-color: #303f9f;
}
.buttonDelete {
  background-color: #df353e;
}

.buttonDelete:hover,
.buttonDelete:focus {
  background-color: #d40f30;
}
.buttonAdd:hover,
.buttonAdd:focus {
  background-color: #24ad3d;
}
.taskContainer {
  margin: 10px;
  border: 1px solid #cacaca;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.taskContainer:hover,
.taskContainer:focus {
  transform: scale(1.02);
}
.taskListContainer {
  width: 300px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .input,
  .textArea,
  .taskName,
  .taskDescription {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .taskListContainer {
    width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .taskListContainer {
    width: 1000px;
  }
}
