.timerSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timerCotainer {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.timerBtn,
.timerResetBtn,
.timerBtnAdd {
  width: 120px;
  padding: 15px;
  margin: 20px 5px;
  border-radius: 5px;
  border: 1px solid #cacaca;
  font-size: 24px;
  background-color: #3f51b5;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.timerBtnAdd {
  border-radius: 50px;
  width: 160px;
  text-align: center;
  background-color: rgba(255, 136, 136);
}
.timerBtn:hover,
.timerBtn:focus,
.timerBtnAdd:focus,
.timerBtnAdd:hover {
  background-color: #303f9f;
}
.timerResetBtn {
  background-color: #df353e;
}
.timerResetBtn:hover,
.timerResetBtn:focus {
  background-color: #d40f30;
}
.timerBtnContainer {
  display: flex;
  justify-content: center;
}
.timerProgressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 20px;
  margin-bottom: 20px;
}
.didIt {
  text-align: center;
  margin-bottom: 10px;
  color: #0a7212;
}

.backBtn {
  margin-top: 5px;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cacaca;
  background-color: #3f51b5;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.backBtn:hover,
.backBtn:focus {
  background-color: #303f9f;
}
